
<!DOCTYPE html>
<html>
<head>
<title>Dulces Momentos</title>
<!-- for-mobile-apps -->
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<!-- //for-mobile-apps -->
<link href="css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
<link href="css/style.css" rel="stylesheet" type="text/css" media="all" />
<link href="../../css/estilos-admin.css" rel="stylesheet">
<!-- font-awesome icons -->
<link href="css/font-awesome.css" rel="stylesheet"> 
<!-- //font-awesome icons -->
<!-- js -->
<script src="js/jquery-1.11.1.min.js"></script>
<!-- //js -->
<link href='http://fonts.googleapis.com/css?family=Raleway:400,100,100italic,200,200italic,300,400italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic,800,800italic' rel='stylesheet' type='text/css'>
<!-- start-smoth-scrolling -->
<script type="text/javascript" src="js/move-top.js"></script>

<!-- start-smoth-scrolling -->
</head>	
<body>
<!-- header -->
	<div class="agileits_header">
		<div class="container">
			<div class="w3l_offers">
				<p>Bienvenida Luisa ramirez   </p>
			</div>
			<div class="agile-login">
				<ul>
					<li><a href="cuenta.html">Mi cuenta </a></li>
					<li><a href="cuenta.html"> Mis pedidos</a></li>
					<li><a href="">Ayuda</a></li>
					<li><a href="">Cerrar cuenta</a></li>
				</ul>
			</div>
			<div class="product_list_header">  
					<form action="#" method="post" class="last"> 
						<input type="hidden" name="cmd" value="_cart">
						<input type="hidden" name="display" value="1">
						<button class="w3view-cart" type="submit" name="submit" value=""><i class="fa fa-cart-arrow-down" aria-hidden="true"></i></button>
					</form>  
			</div>
			<div class="clearfix"> </div>
		</div>
	</div>

	<div class="logo_products">
		<div class="container">
		<div class="w3ls_logo_products_left1">
			<img src="../../img/logo.png"  style="width: 156px; height: 145px;   margin:  0px;  margin-top: -41px">
			</div>
			<div class="w3ls_logo_products_left">
				<h1><a href="index.html">Dulces Momentos</a></h1>
			</div>
		<div class="w3l_search">
			<form action="#" method="post">
				<input type="search" name="Search" placeholder="Buscar un producto..." required="">
				<button type="submit" class="btn btn-default search" aria-label="Left Align">
					<i class="fa fa-search" aria-hidden="true"> </i>
				</button>
				<div class="clearfix"></div>
			</form>
		</div>
			
			<div class="clearfix"> </div>
		</div>
	</div>
<!-- //header -->
<!-- navigation -->
	<div class="navigation-agileits">
		<div class="container">
			<nav class="navbar navbar-default">
							<!-- Brand and toggle get grouped for better mobile display -->
							<div class="navbar-header nav_2">
								<button type="button" class="navbar-toggle collapsed navbar-toggle1" data-toggle="collapse" data-target="#bs-megadropdown-tabs">
									<span class="sr-only">Toggle navigation</span>
									<span class="icon-bar"></span>
									<span class="icon-bar"></span>
									<span class="icon-bar"></span>
								</button>
							</div> 
							<div class="collapse navbar-collapse" id="bs-megadropdown-tabs">
								<ul class="nav navbar-nav">
									<li class="active"><a href="index.html" class="act">Inicio</a></li>	
									<li><a href="gourmet.html">Amor</a></li>
									<li><a href="offers.html">Amistad</a></li>
									<li><a href="contact.html">Papás</a></li>
									<li><a href="">Madres</a></li>
									<li class="dropdown">
										<a href="#" class="dropdown-toggle" data-toggle="dropdown">Ocaciones especiales<b class="caret"></b></a>
										<ul class="dropdown-menu multi-column columns-3">
											<div class="row">
												<div class="multi-gd-img">
													<ul class="multi-column-dropdown">
														<h6>Dias especiales</h6>
														<li><a href="beverages.html">Cumpleaños</a></li>
														<li><a href="beverages.html"> baby shower</a></li>
														<li><a href="beverages.html">Navidad</a></li>
														<li><a href="beverages.html">halloween</a></li>
													</ul>
												</div>
							
											</div>
										</ul>
									</li>
									<li><a href="">Crear mi ancheta</a></li>
								</ul>
							</div>
							</nav>
			</div>
		</div>
<!-- navigation -->
<!-- breadcrumbs -->
	<div class="breadcrumbs">
		<div class="container">
			<ol class="breadcrumb breadcrumb1 animated wow slideInLeft" data-wow-delay=".5s">
				<li><a href="productos.html"><span class="glyphicon glyphicon-home" aria-hidden="true"></span>Inicio</a></li>
				<li class="active">Cuenta</li>
			</ol>
		</div>
	</div>
<!-- //breadcrumbs -->

<div class="col-md-9">
	<!--Contenedor de panel datos-->
	<div class="registrar" style="background: #fff;">
   <!--panel datos-->
	 <div class="panel panel-default col-md-12" style="margin-bottom:4%;">
                        <div class="panel-heading  text-dark  ">
                            <h3 id="titulo-notificaciones">DATOS</h3>
                        </div>
                    
                        <div class="panel-body">
                            <div class="list-group">
                                <a href="#actualizar-usuario" class="list-group-item"  data-toggle="modal">
                                    Usuario:<span class="text-muted">Daniela234</span>
                                    <span class="text-muted small"><em>EDITAR</em>
                                    </span>
                                </a>
                              
                            </div>
                             <div class="list-group">
                                <a href="#actualizar-contraseña" class="list-group-item" data-toggle="modal">
                                    Contraseña:<span class="text-muted">*********</span>
                                    <span class="text-muted small"><em>EDITAR</em>
                                    </span>
                                </a>
                              
                            </div>
                             <div class="list-group">
                                <a href="#actualizar-nombre" class="list-group-item" data-toggle="modal">
                                    Nombre:<span class="text-muted">Daniela</span>
                                    <span class="text-muted small"><em>EDITAR</em>
                                    </span>
                                </a>
                              
                            </div>
                             <div class="list-group">
                                <a href="#actualizar-apellido" class="list-group-item" data-toggle="modal">
                                    Apellido:<span class="text-muted">Cano Usuga</span>
                                    <span class="text-muted small"><em>EDITAR</em>
                                    </span>
                                </a>
                              
                            </div>
                             
                             <div class="list-group">
                                <a href="#actualizar-tel" class="list-group-item" data-toggle="modal">
                                    Tel:<span class="text-muted">4329394</span>
                                    <span class="text-muted small"><em>EDITAR</em>
                                    </span>
                                </a>
                              
                            </div>
                             <div class="list-group">
                                <a href="#actualizar-cel" class="list-group-item" data-toggle="modal">
                                    Cel:<span class="text-muted">3423352343</span>
                                    <span class="text-muted small"><em>EDITAR</em>
                                    </span>
                                </a>
                              
                            </div>
                             <div class="list-group">
                                <a href="#actualizar-dir" class="list-group-item" data-toggle="modal">
                                    Direccion:<span class="text-muted">cra 232 # 45-20</span>
                                    <span class="text-muted small"><em>EDITAR</em>
                                    </span>
                                </a>
                              
                            </div>
                             <div class="list-group">
                                <a href="#actualizar-correo" class="list-group-item" data-toggle="modal">
                                    Correo:<span class="text-muted">dani234@gmail.com</span>
                                    <span class="text-muted small"><em>EDITAR</em>
                                    </span>
                                </a>
                              
                            </div>
                    
                        </div>
                      <!--panel datos-->  
                    </div> 
                    <!--/Contenedor de panel de datos-->
                </div>
           </div>
      <!--panel actualizar usuario-->               
  <div class="modal fade" id="actualizar-usuario">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header bg-dark">
                <h4 class="modal-tittle">Actualizar</h4>
                <button tyle="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            </div>
            <div class="modal-body">
               <div class="col-md-12">
         <label>Nuevo Usuario:</label>
        <br>
        <input class="input" type="text" name="nombre"  placeholder="Ingrese el nuevo usuario" required autofocus>
        </div>
         <div class="modal-footer">
            <button class="col-md-3" type="button" id="editar" data-dismiss="modal" >CERRAR</button>
            <input  class="col-md-3"  type="submit" value="CAMBIAR" id="editar" onclick = "mensaje()">
                    </div>
                </div>
           </div>
      </div>
         <!--/panel actualizar usuario--> 
</div>
    
     <!--panel actualizar contraseña-->               
  <div class="modal fade" id="actualizar-contraseña">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header bg-dark">
                <h4 class="modal-tittle">Actualizar</h4>
                <button tyle="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            </div>
            <div class="modal-body">
               <div class="col-md-12">
         <label>Nueva contraseña:</label>
        <br>
        <input class="input" type="text" name="nombre"  placeholder="Ingrese el nueva contraseña" required autofocus>
        </div>
          <div class="col-md-12">
         <label>Confirmar contraseña:</label>
        <br>
        <input class="input" type="text" name="nombre"  placeholder="vuelve a escribir contraseña" required autofocus>
        </div>
         <div class="modal-footer">
            <button class="col-md-3" type="button" id="editar" data-dismiss="modal" >CERRAR</button>
            <input  class="col-md-3"  type="submit" value="CAMBIAR" id="editar" onclick = "mensaje()">
                  </div>
             </div>
         </div>
    </div>
         <!--/panel actualizar contraseña--> 
</div>

       <!--panel actualizar nombre-->               
  <div class="modal fade" id="actualizar-nombre">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header bg-dark">
                <h4 class="modal-tittle">Actualizar</h4>
                <button tyle="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            </div>
            <div class="modal-body">
               <div class="col-md-12">
         <label>Nuevo Nombre:</label>
        <br>
        <input class="input" type="text" name="nombre"  placeholder="Ingrese nuevo nombre" required autofocus>
        </div>
         <div class="modal-footer">
            <button class="col-md-3" type="button" id="editar" data-dismiss="modal" >CERRAR</button>
            <input  class="col-md-3"  type="submit" value="CAMBIAR" id="editar" onclick = "mensaje()">
                    </div>
                </div>
           </div>
      </div>
         <!--/panel actualizar nombre--> 
</div>
       <!--panel actualizar apellido-->               
  <div class="modal fade" id="actualizar-apellido">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header bg-dark">
                <h4 class="modal-tittle">Actualizar</h4>
                <button tyle="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            </div>
            <div class="modal-body">
               <div class="col-md-12">
         <label>Nuevo Apellido:</label>
        <br>
        <input class="input" type="text" name="nombre"  placeholder="Ingrese nuevo apellido" required autofocus>
        </div>
         <div class="modal-footer">
            <button class="col-md-3" type="button" id="editar" data-dismiss="modal" >CERRAR</button>
            <input  class="col-md-3"  type="submit" value="CAMBIAR" id="editar" onclick = "mensaje()">
                    </div>
                </div>
           </div>
      </div>
         <!--/panel actualizar apellido--> 
</div>
  
        <!--/Contenedor para posicionar-->
         <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
         <script src="https://.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
         <script src="js/bootstrap.js"></script>
         <script src="js/search.js"></script>
         <script src="js/script.js"></script>
<!-- //footer -->
<div class="footer col-md-12" >
		<div class="container">
		<div class="footer-copy">
			<div class="container">
				<p>© 2018 Dulces Momentos. Todos los derechos reservados</p>
			</div>
		</div>
	</div>	
	<div class="footer-botm">
			<div class="container">
				<div class="w3layouts-foot">
					<ul>
						<li><a href="#" class="w3_agile_facebook"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
						<li><a href="#" class="agile_twitter"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
					</ul>
				</div>
				<div class="payment-w3ls">	
					<p  style="color: #fff">Teléfono :  30162512371</p>
				</div>
				<div class="clearfix"> </div>
			</div>
		</div>
		
		
<!-- //footer -->	

<!-- Bootstrap Core JavaScript -->
        

<!-- main slider-banner -->
<script src="js/skdslider.min.js"></script>
<link href="css/skdslider.css" rel="stylesheet">
<script type="text/javascript">
		jQuery(document).ready(function(){
			jQuery('#demo1').skdslider({'delay':5000, 'animationSpeed': 2000,'showNextPrev':true,'showPlayButton':true,'autoSlide':true,'animationType':'fading'});
						
			jQuery('#responsive').change(function(){
			  $('#responsive_wrapper').width(jQuery(this).val());
			});
			
		});
</script>	
    </div>
    <!-- //main slider-banner --> 

</body>
</html>